header {
    height: 100px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBackgroundGrad {
    background: linear-gradient(blue, pink);
}


.nav-btn{
    background: gray;
}